{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <div class="content-0-2-160 margins-0-2-161" style="display: block">
        <div class="root-0-2-237">
            <div>
                <p class="title">
                    About this project
                </p>

                <div style="font-size: 19px;">
                    <p class="text-justify">
                    <p>
                        During my time working in the medical field, I noticed that a great deal of patients experienced anxiety after being newly diagnosed.
                    </p>
                    <p>
                        While providers often guide patients through their diagnosis, many still feel overwhelmed with the implications of their new situation.
                    </p>
                    <p>
                        I created this website to facilitate communication between patients who experience the similar symptoms.
                        </p>
                        <p>
                        The porpose of this is two-fold:
                        <br>1) To help people learn and share tips on how to cope with symptoms.<br>
                        2) To alliviate the feelings of loneliness and anxiety that patients experience.
                    </p>

                    <p>
                        This website may also have applications for research as it could allow researchers to query information about treatment outcomes in specific locations and times.
                    </p>

                </p>
            </div>
            </div>
        </div>
    </div>
    <div style="height: 26px; width: 24px; flex-shrink: 0;"></div>
{% endblock %}