{% extends "layout.html" %}

{% block title %}
    Profile
{% endblock %}

{% block main %}

<div class="content-0-2-160 margins-0-2-161" style="display: block">


                <div class="box-text text-center">
                    {{username}}'s profile
                </div>
                <hr>

                    <div class="root-0-2-237">
                        <form class="form-0-2-238" action="/profile" method="post">
                            <div>
                                <p class="title">
                                    Change password
                                </p>
                            </div>
                            <div class="form-group">
                                <label id="description" for="exampleInputPassword">New password</label>
                                <input autocomplete="off" class="input-style" id="newpassword" name="newpassword" type="password">
                            </div>
                            <div style="height: 10px; width: 24px; flex-shrink: 0;"></div>
                            <div class="form-group">
                                <label id="description" for="exampleInputConfirmation">Re-type password</label>
                                <input autocomplete="off" class="input-style" id="newconfirmation" name="newconfirmation" type="password">
                            </div>
                            <div style="height: 20px; width: 24px; flex-shrink: 0;"></div>
                            <button class="btn btn-primary" type="submit">Change Password</button>
                            <div>
                                <p style="color: red;">{{error}}</p>
                            </div>
                        </form>
                </div>
                <hr>
                <div>
                    <p class="title" style="margin-top:1rem!important;">
                        Your posts
                        
                    </p>
            </div>
                <div class="root-0-2-237">
                    <div class="form-post">
                        {% for post in user_posts %}
                            <p class="post-style">
                                {{ post["post"] }}
                            </p>
                      {% endfor %}
                    </div>
                </div>
            </div>

            </div>


{% endblock %}
